body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: #1d3557;
}

span {
    width: 100px;
    height: 100px;
    background: #e63946;
    border-radius: 12.5%;
    animation: move 3s linear infinite;
}

@keyframes move {
    0% { transform: rotateX(0deg) rotateY(0deg); }

	50% { transform: rotateX(0deg) rotateY(180deg); }

	100% { transform: rotateX(180deg) rotateY(180deg); }
}