body {
    background: #6F1E51;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    font-size: 52px;
    color: white;
    letter-spacing: 10px;
}

ul {
    list-style-type: none;

}

li {
    animation: move 2s linear infinite;
    float: left;
}

@keyframes move {
    0% {
        letter-spacing: 10px;
        transform: translateX(20px);
    }

    50% {
    }

    100% {
        color: red;
    }
}

li:nth-child(1) {
    animation-delay: 0s;
}

li:nth-child(2) {
    animation-delay: 0.2s;

}

li:nth-child(3) {
    animation-delay: 0.3s;

}

li:nth-child(4) {
    animation-delay: 0.4s;

}

li:nth-child(5) {
    animation-delay: 0.5s;

}

li:nth-child(6) {
    animation-delay: 0.6s;

}

li:nth-child(7) {
    animation-delay: 0.7s;
}

